accelerate
annotated-types
anyio
certifi
charset-normalizer
click
cmake
diffusers
exceptiongroup
fastapi
filelock
fsspec
gunicorn
h11
huggingface-hub
idna
importlib-metadata
invisible-watermark
Jinja2
lit
MarkupSafe
mpmath
networkx
numpy
opencv-python
packaging
Pillow
psutil
pydantic
pydantic_core
PyWavelets
PyYAML
regex
requests
safetensors
sniffio
starlette
sympy
tokenizers
--extra-index-url https://download.pytorch.org/whl/cu122
torch
tqdm
transformers>=4.53.1
#triton
typing_extensions
urllib3
uvicorn
zipp
jinja2
loguru
boto3
nemo_toolkit[asr]
google-api-python-client
google-api-core #1.31.5
#google-cloud-storage
google-cloud-storage

google-cloud-ndb
cachetools

python-multipart
nltk
diskcache

protobuf
google-cloud-aiplatform
# openai
# requests
# rollbar
# optimum[openvino]
streamlit
DeepCache
tomesd
peft
gradio
pillow-avif-plugin
optimum-quanto
xformers
dfloat11[cuda12]
